@charset "UTF-8";

body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
    background: linear-gradient(135deg, #3498db, #2ecc71);
}

.page-title {
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    color: #fff;
    margin-top: 100px;
    margin-bottom: 30px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    letter-spacing: 2px;
    text-transform: uppercase;
}

form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input, select {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 2px solid #4caf50;
    border-radius: 5px;
    box-sizing: border-box;
    transition: border-color 0.3s ease-in-out;
}

input:focus, select:focus {
    border-color: #2ecc71;
}

#genres {
    background-color: #f9f9f9;
    color: #333;
    height: 150px;
}

#platforms {
    background-color: #f9f9f9;
    color: #333;
    height: 150px;
}

button {
    background-color: #2ecc71;
    color: #fff;
    padding: 15px 25px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

button:hover {
    background-color: #3498db;
    transform: scale(1.05);
}

.game-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.game-card {
    width: 300px;
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.game-card:hover {
    transform: scale(1.08);
}

.game-image {
    width: 100%;
    height: 160px;
    background-size: cover;
    background-position: center;
    margin-bottom: 15px;
    border-radius: 8px;
}

.game-details {
    text-align: center;
}

.game-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.game-platforms {
    font-size: 16px;
    color: #555;
}

.game-playtime {
    font-size: 16px;
    color: #888;
}

.game-score {
    font-size: 16px;
    color: #888;
}

.game-released {
    font-size: 16px;
    color: #888;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
    animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    animation: slideIn 0.3s ease-in-out;
}

@keyframes slideIn {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #333;
    text-decoration: none;
}

#gameImageModal {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 16px;
}

#gameDetailsContainer h2 {
    font-size: 24px;
    margin-bottom: 12px;
}

#gameDetailsContainer p {
    font-size: 16px;
    margin-bottom: 8px;
}

#gameDescription {
    margin-top: 16px;
    padding: 16px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#gameDescription h3 {
    font-size: 18px;
    margin-bottom: 8px;
}

#gameDescription p {
    font-size: 16px;
}